@charset "UTF-8";

body {
	margin: 0;
}

header {
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	color: white;
	
}

header a{
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	float: right;
}

nav a {
	color: black;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

nav a:hover {
	background-color: white;
	color: black;
}

#result {
	display: flex;
}

footer {
	height: 100px;
	background: gray;
}
/* 메인페이지 */
.mainbtn {
    width: 200px;
    height: 80px;
    margin: 20px 0;
    font-size: 17px;
}

.main_image {
    position: relative;
    opacity: 0.7;
}

.main_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#main {
    margin: auto;
    width: 600px;
    border: 1px solid rgb(240 240 240);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(240 240 240);
    padding: 20px 0;
}

#mainpage{
	height : 100%;
	width :100%;
}
#mainbbs{

}
#mainshop{
	
}